/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

/* Wrapper */
#wrapper {
    width: 100%;
    height: 100vh;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}
nav, 
.main-content {
    padding: 15px;
    float: left;
    height: 100%;
    /* alte tanto quanto il main (chi le contiene) */
}
nav, 
footer {
    overflow: hidden;
}
ul {
    list-style-type: none;
}
a {
    color: #a3a3a3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
}

/* MAIN */
main {
    /* Alto il 100% del wrapper meno l'altezza del footer */
    height: calc( 100% - 100px);

    /* test */
    background-color: cornflowerblue;
}

/* NAV section */
nav {
    width: 220px;
    background-color: black;
}

.logo {
    width: 140px;
    padding-bottom: 15px;

    /* test */
    height: 70px;
}

/* Links */
.links {
    /* test */
    height: 150px;

    padding: 20px 0;
}
.icon-text {
    padding-bottom: 15px;
}
.icon-text a, 
.icon-text img {
    vertical-align: middle;
}
.icon-text img {
    width: 25px;
}

/* Playlist container */
.playlist_container {
    min-height: 120px;
    height: calc( 100% - 290px);
}

/* Install + profile */
.install {
    /* test */
    height: 70px;

    padding: 20px 0;
}



/* Main content */
.main-content {
    /* test */
    background-color: aquamarine;
    /* Largo il 100% del main meno la larghezza della navbar a sinistra */
    width: calc( 100% - 220px );
    height: 100%;
    /* Scrollbar quando serve */
    overflow-y: auto;
}

/* FOOTER */
footer {
    height: 100px;

    /* test */
    background-color: burlywood;
}