/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

/* Wrapper */
#wrapper {
    width: 100%;
    height: 100vh;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}
nav, 
.main-content {
    padding: 15px;
    float: left;
    height: 100%;
    /* alte tanto quanto il main (chi le contiene) */
}
nav, 
footer {
    overflow: hidden;
}
ul {
    list-style-type: none;
}
a {
    color: #a3a3a3;
    text-decoration: none;
    font-size: 12px;
}
a:hover {
    text-decoration: underline;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
}
.hidden {
    display: none;
}

/* MAIN */
main {
    /* Alto il 100% del wrapper meno l'altezza del footer */
    height: calc( 100% - 80px);
}

/* UPGRADE BUTTON */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    width: calc( 100% - 220px);
    text-align: right;
}
.upgrade button {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 30px;
    text-transform: uppercase;
}
.upgrade button:hover,
.playlist_container button:hover {
    cursor: pointer;
}

/* NAV section */
nav {
    width: 220px;
    background-color: black;
}
.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    width: 140px;
    padding-bottom: 15px;
}

/* Links */
.links {
    padding: 20px 0;
}
.icon-text {
    padding-bottom: 15px;
}
.icon-text a, 
.icon-text img {
    vertical-align: middle;
}
.icon-text img {
    width: 25px;
}
.links .icon-text:hover {
    border-left: 2px solid #adff2f;
    padding: 0;
    margin-bottom: 15px;
}

/* Playlist container */
.playlist_container {
    min-height: 160px;
    overflow: hidden;
    flex-grow: 1;
}
.playlist_container .icon-text {
    padding-top: 10px;
}
.playlist_container .icon-text a {
    font-size: 15px;
    font-weight: 600;
}
.playlist_container .icon-text button {
    padding: 10px;
    background-color: #a3a3a3;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.playlist {
    line-height: 1.5;
    height: 100%;
    overflow-y: auto;
}

/* Install + profile */
.install {
    padding-top: 10px;
}
#icon-download {
    width: 15px;
}
.install .icon-text:first-child {
    padding-bottom: 5px;
    border-bottom: 1px solid #a3a3a3;
}
.install .icon-text:last-child {
    padding: 15px 0 0 0;
}
#profile-bg {
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
}
.install #name_profile {
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

/* Main content */
.main-content {
    padding-top: 110px;
    /* test */
    background-color: #141922;
    /* Largo il 100% del main meno la larghezza della navbar a sinistra */
    width: calc( 100% - 220px );
    height: 100%;
    /* Scrollbar quando serve */
    overflow-y: auto;
}
/* List sections */
.main-content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-content .list-sections li {
    padding: 0 10px;
}
.main-content .list-sections li:hover {
    border-bottom: 2px solid #adff2f;
}
.main-content .list-sections a {
    text-decoration: none;
}

/* Songs */
.songs-wrapper {
    padding: 20px 0;
}
.songs-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.author_name {
    text-align: center;
}
.single-track {
    width: calc(100% / 6);
}
.img-song img {
    padding: 10px 5px;
}


/* FOOTER */
footer {
    background-color: #282828;
    height: 80px;
}
.foot-container {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/* Col 1 */
.track-info > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}
.track-author {
    margin-left: 5px;
}
.img-track  {
    width: 40px;
}
#name-author {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
#name-track {
    font-size: 10px;
}
.xs-icons {
    margin-left: 5px;
}
.xs-icons a {
    padding: 0 3px;
    text-decoration: none;
}

/* Col 2 */
/* Player icons */
.player {
    text-align: center;
    width: 40%;
}
.player-icons li {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
}
.player-icons a {
    color: white;
    font-size: 12px;
}
.player-icons .fa-play-circle {
    font-size: 24px;
}

/* Time bar */
.time-bar li,
.volume li {
    display: inline-block;
    vertical-align: middle;
}
.time-bar .time {
    color: white;
    font-size: 10px;
    font-weight: bolder;
}
.line {
    width: 60%;
    height: 3px; 
    background-color: #5a5a5a;
    margin: 0px 7px;
}
.line .nested-line {
    position: relative;
    width: 20%;
    height: 3px; 
    background-color: #c1c1c1;
}
/* White dot */
.nested-line i {
    display: none;
}
.nested-line:hover i {
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: white;
    cursor: pointer;
}

/* Volume icons */
.volume {
    text-align: right;
    width: 27%;
}
.volume li {
    padding-left: 8px;
    display: inline-block;
}
.volume li:last-child {
    padding-left: 0;
}
.volume .line {
    width: 32%;
}
.volume .nested-line {
    width: 25%;
}



/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .songs-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .single-track {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 768px) {
    .single-track {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 520px) {
    .hidden {
        display: contents;
        flex-shrink: 1;
    }
    .xs-hidden {
        display: none;
    }
    nav {
        width: 60px;
    }
    .nav-container {
        text-align: center;        
    }
    .links {
        flex-grow: 1;
    }
    .main-content {
        width: calc( 100% - 60px );
    }
    .upgrade {
        width: calc( 100% - 60px);
        text-align: center;
    }
    .icon-text #name_profile {
        display: none;
    }
    #profile-bg {
        margin: 0;
    }
    .icon-text img:hover {
        cursor: pointer;
    }
    .install .icon-text:first-child {
        border-bottom: none;
    }

    /* FOOTER */
    footer {
        overflow: auto;
    }
    .foot-container {
        flex-direction: column;
    }
    .foot-container > div {
        width: 100%;
        text-align: center;
    }
    .player {
        padding: 20px 0;
    }
}