/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

/* Wrapper */
#wrapper {
    width: 100%;
    height: 100vh;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}
nav, 
.main-content {
    padding: 15px;
    float: left;
    height: 100%;
    /* alte tanto quanto il main (chi le contiene) */
}
nav {
    padding-left: 0;
}
ul {
    list-style-type: none;
}
a {
    color: #a3a3a3;
    text-decoration: none;
    font-size: 12px;
}
a:hover {
    text-decoration: underline;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
}
.songs-wrapper h2 {
    text-transform: none;
    padding: 20px 0 0 5px;
    font-size: 30px;
}
.hidden {
    display: none;
}

/* MAIN */
main {
    /* Alto il 100% del wrapper meno l'altezza del footer */
    height: calc( 100% - 80px);
    overflow: hidden;
}

/* UPGRADE BUTTON */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    width: calc( 100% - 220px);
    text-align: right;
    z-index: 1;
}
.upgrade button {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 30px;
    text-transform: uppercase;
}
.upgrade button:hover,
.playlist_container button:hover {
    cursor: pointer;
}
.upgrade button:hover {
    transform: scale(1.1);
    transition: transform .1s;
}
.player-icons .fa-play-circle:hover {
    transform: scale(1.3);
    transition: transform .1s;
}


/* NAV section */
nav {
    width: 220px;
    background-color: black;
}
.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    width: 140px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/* Links */
.links {
    padding: 20px 0;
}
.icon-text {
    margin-bottom: 15px;
    padding-left: 15px;
}
.icon-text a, 
.icon-text img {
    vertical-align: middle;
}
.links .icon-text img {
    width: 25px;
}
.links .icon-text.home {
    border-left: 3px solid lime;
    padding-left: 10px;
}

/* Playlist container */
.playlist_container {
    min-height: 160px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.playlist_container .icon-text {
    padding-top: 10px;
    padding-left: 0;
}
.playlist_container .icon-text a {
    font-size: 15px;
    font-weight: 600;
}
.playlist_container .icon-text button {
    padding: 10px;
    background-color: #a3a3a3;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.playlist {
    line-height: 1.5;
    height: 100%;
    overflow-y: auto;
}

/* Install + profile */
.install {
    padding-top: 10px;
    padding-left: 15px;
}
.install .icon-text {
    padding-left: 0;
}
#icon-download {
    width: 15px;
}
.install .icon-text:first-child {
    padding-bottom: 5px;
    border-bottom: 1px solid #a3a3a3;
}
.install .icon-text:last-child {
    padding: 15px 0 0 0;
}
.rounded {
    display: inline-block;
    background-color: gray;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}
.icon-text .rounded {
    padding: 3px;
}
.rounded img {
    border-radius: 50%;
}
.rounded img:hover {
    cursor: pointer;
}
.install #name_profile {
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

/* Main content */
.main-content {
    padding-top: 110px;
    /* background-color: #141922; */
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );

    /* Largo il 100% del main meno la larghezza della navbar a sinistra */
    width: calc( 100% - 220px );
    height: 100%;
    /* Scrollbar quando serve */
    overflow-y: auto;
}
/* List sections */
.main-content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-content .list-sections li {
    padding: 0 10px;
}
.main-content .list-sections a {
    text-decoration: none;
    text-transform: uppercase;
}
.oriz-lime-line {
    width: 40px;
    height: 3px;
    background-color: #adff2f;
    margin: auto;
}

/* Songs */
.songs-wrapper {
    padding: 20px 0;
}
.songs-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.songs-container.two {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
}
.author_name {
    text-align: center;
    padding-top: 10px;
}
.subtitle {
    font-size: 10px;
    padding-top: 5px;
}
.songs-wrapper > .subtitle {
    padding-left: 5px;
}
.single-track {
    width: calc(100% / 6);
    padding: 10px;
}
.single-track img {
    vertical-align: middle;
}
.img-song {
    position: relative;
}
.img-song .rounded {
    width: inherit;
    height: inherit;
}
.img-song:hover .overlay {
    display: block;
} 
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}
.overlay i{
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.rounded ~ .overlay {
    border-radius: 50%;
}


/* FOOTER */
footer {
    background-color: #282828;
    height: 80px;
}
.foot-container {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.track-info,
.volume {
    flex-basis: 180px;
}
.player {
    width: 45%;
}

/* Col 1 */
.track-info > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}
.track-author {
    margin-left: 5px;
}
.img-track  {
    width: 40px;
}
#name-author {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
#name-track {
    font-size: 10px;
    cursor: pointer;
}
.xs-icons {
    margin-left: 5px;
}
.xs-icons a {
    display: block;
    padding: 0 3px;
    text-decoration: none;
}

/* Col 2 */
/* Player icons */
.player {
    text-align: center;
}
.player-icons li {
    display: inline-block;
    padding: 3px 8px;
    vertical-align: top;
}
.player-icons a {
    color: white;
    font-size: 10px;
}
.player-icons .fa-play-circle {
    font-size: 20px;
}

/* Time bar */
.time-bar li,
.volume li {
    display: inline-block;
    vertical-align: middle;
}
.time-bar .time {
    color: white;
    font-size: 10px;
    font-weight: bolder;
}
.line {
    width: 60%;
    height: 3px; 
    background-color: #5a5a5a;
    margin: 0px 7px;
}
.line .nested-line {
    position: relative;
    width: 20%;
    height: 3px; 
    background-color: #c1c1c1;
}
.line .nested-line:hover {
    cursor: pointer;
    background-color: #adff2f;
}
/* White dot */
.nested-line i {
    display: none;
}
.nested-line:hover i {
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: white;
    cursor: pointer;
}

/* Col 3 */
/* Volume icons */
.volume {
    text-align: right;
}
.volume li {
    padding-left: 8px;
    display: inline-block;
}
.volume li:last-child {
    padding-left: 0;
}
.volume .line {
    width: 25%;
}
.volume .nested-line {
    width: 40%;
}



/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .xs-logo img {
        padding-left: 15px;
    }
    .songs-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .single-track {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 768px) {
    .single-track {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 520px) {
    .hidden {
        display: contents;
        flex-shrink: 1;
    }
    .xs-hidden {
        display: none;
    }
    nav {
        width: 60px;
    }
    .nav-container {
        text-align: center;        
    }
    .links {
        flex-grow: 1;
    }
    .main-content {
        width: calc( 100% - 60px );
    }
    .upgrade {
        width: calc( 100% - 60px);
        text-align: center;
    }
    .icon-text #name_profile {
        display: none;
    }
    #profile-bg {
        margin: 0;
    }
    .icon-text img:hover {
        cursor: pointer;
    }
    .install .icon-text:first-child {
        border-bottom: none;
    }
}


/* Scrollbar style */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #141922;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #adff2f;
}